<br /><br />
<div class="form-row">
  <div class="col-md-12">
    <h4 class="fonte">
      {{
        condominio.cnpj
          ? "ALTERAÇÃO DAS INFORMAÇÕES DE CONDOMINIO"
          : "CADASTRO DE NOVOS CONDOMINIOS"
      }}
    </h4>
  </div>
</div>
<hr />
<!--{{ condominio.descricao }} Interpolação -->
<form #condominioForm="ngForm" (ngSubmit)="onSubmit(condominioForm)">
  <div class="form-row">
    <div class="col-md-4">
      <label id="CNPJ">CNPJ:*</label>
      <input
        [disabled]="desabilitaInput"
        type="number"
        class="form-control"
        placeholder="Informe um CNPJ"
        [(ngModel)]="condominio.cnpj"
        name="cnpj"
        id="CNPJ"
      />
    </div>

    <div class="col-md-4">
      <label>CONDOMINIO:*</label>
      <input
        [disabled]="desabilitaInput"
        type="text"
        [size]="22"
        class="form-control"
        placeholder="Informe a descrição do condominio"
        [(ngModel)]="condominio.descricao"
        name="descricao"
      />
    </div>

    <div class="col-md-4">
      <label>SINDICO:*</label>
      <input
        [disabled]="desabilitaInput"
        type="text"
        [size]="22"
        class="form-control"
        placeholder="Informe a descrição do sindico"
        [(ngModel)]="condominio.sindico"
        name="sindico"
      />
    </div>
  </div>
  <hr />

  <div class="form-row">
    <div class="col-md-6">
      <label>ENDEREÇO:</label>
      <input
        [disabled]="desabilitaInput"
        type="text"
        class="form-control"
        placeholder="Informe o endereço"
        [(ngModel)]="condominio.logradouro"
        name="logradouro"
      />
    </div>

    <div class="col-md-2">
      <label>COMPLEMENTO:</label>
      <input
        [disabled]="desabilitaInput"
        type="text"
        class="form-control"
        placeholder="Complemento"
        [(ngModel)]="condominio.complemento"
        name="complemento"
      />
    </div>

    <div class="col-md-4">
      <label>BAIRRO:</label>
      <input
        [disabled]="desabilitaInput"
        type="text"
        class="form-control"
        placeholder="Informe o bairro"
        [(ngModel)]="condominio.bairro"
        name="bairro"
      />
    </div>
  </div>
  <br />

  <div class="form-row">
    <div class="col-md-4">
      <label>CIDADE:</label>
      <input
        [disabled]="desabilitaInput"
        type="text"
        class="form-control"
        placeholder="Informe o bairro"
        [(ngModel)]="condominio.cidade"
        name="cidade"
      />
    </div>

    <div class="col-md-2">
      <label>UF:</label>
      <select
        [disabled]="desabilitaInput"
        id="cars"
        class="form-control"
        [(ngModel)]="condominio.uf"
        name="uf"
      >
        <option value="CE">CE</option>
        <option value="PE">PE</option>
        <option value="PI">PI</option>
        <option value="BA">BA</option>
      </select>
    </div>

    <div class="col-md-2">
      <label>CONTATO:</label>
      <input
        [disabled]="desabilitaInput"
        type="text"
        class="form-control"
        placeholder="Informe o contato"
        [(ngModel)]="condominio.contato"
        name="contato"
      />
    </div>

    <div class="col-md-4">
      <label>EMAIL:</label>
      <input
        [disabled]="desabilitaInput"
        type="email"
        class="form-control"
        placeholder="Informe o E-mail"
        [(ngModel)]="condominio.email"
        name="email"
      />
    </div>
  </div>
  <br />
  <hr />

  <div class="botoes form-row" style="align-items: center">
    <div class="col-md-2">
      <button
        type="button"
        [disabled]="desabilitaBotaoNovo"
        class="btn btn-primary form-control"
        routerLink="/condominios"
        (click)="onNovo(condominioForm)"
        id="botaoNovo"
      >
        <i class="fa fa-notes-medical"></i> Novo Registro
      </button>
    </div>
    <br />

    <div class="col-md-2">
      <button
        #btnAlterar
        type="button"
        [disabled]="desabilitaBotaoAlterar"
        class="btn btn-primary form-control"
        (click)="onAlterar(condominioForm)"
      >
        <i class="fa fa-sync-alt"></i>Alterar
      </button>
    </div>
    <br /><br />

    <div class="col-md-2">
      <button
        type="submit"
        id="botaoCadastro"
        [disabled]="!desabilitaBotaoSalvar"
        class="btn btn-primary form-control"
        (click)="onSubmit(condominioForm)"
        data-toggle="modal"
        data-target="#modalMensagens"
      >
        <i class="fa fa-save"></i> Gravar
      </button>
    </div>
    <br /><br />

    <div class="col-md-2">
      <button
        type="button"
        [disabled]="desabilitaBotaoCancelar"
        class="btn btn-primary form-control"
        (click)="onCancelar(condominioForm)"
        routerLink="/condominios"
        style="align-items: center"
      >
        <i class="fa fa-ban"></i> Cancelar
      </button>
    </div>
    <br /><br />

    <div class="col-md-4">
      <button
        type="button"
        (click)="(onLista)"
        class="btn btn-primary form-control"
        routerLink="/condominios-lista"
        style="align-items: center"
      >
        <i class="fa fa-table"></i> Relação dos Condominios
      </button>
    </div>
  </div>

  <!-- Modal de Mensagens do Sistema-->
  <div id="modalMensagens" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="fonte">CONDSYSTEM - Mensagem(s) ao Usuário</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div
                class="alert alert-success"
                role="alert"
                *ngIf="sucesso == true"
              >
                Registro salvo/atualizado com sucesso!
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngFor="let erro of errors"
              >
                {{ erro }}
              </div>
              <div
                class="alert alert-warning"
                role="alert"
                *ngIf="cnpj == 'undefined'"
              >
                CNPJ já cadastro no sistema!
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">
            <i class="fa fa-door-open"></i> Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
