ol{
  background-color: rgb(249, 250, 249);
}
h5{
  color: rgb(8, 0, 0);
}
label{
  font-weight: bold;
  font-size: 14px;
}
input,select{
  background-color: rgb(236, 235, 235)
}
.botoes{
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1px;
}

