<hr>
<ol class="breadcrumb mb-4 mt-4">
  <li class="breadcrumb-item active"><h5>LISTA DE CONDOMINIOS CADASTRADOS NO SISTEMA</h5></li>
</ol>
<hr>

<form #condominioLista="ngForm" >

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-hover table-striped" id="tableCondominio">
        <thead>
          <tr>
            <th>CNPJ</th>
            <th>DESCRIÇÃO</th>
            <th>DATA CADASTRO</th>
            <th>CONTATO</th>
            <th>AÇÃO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let condominio of condominios">
            <td>{{ condominio.cnpj }}</td>
            <td>{{ condominio.descricao }}</td>
            <td>{{ condominio.dataCadastro }}</td>
            <td>{{ condominio.contato }}</td>
            <td>
              <button class="btn btn-success"
                    routerLink="/condominios/cnpj/{{ condominio.cnpj }}">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger ml-2" #deleta >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</form>

