<br><br>
<div class="form-row">
  <div class="col-md-12">
    <h4 class="fonte">LISTA DE CONDOMINIOS CADASTRADOS</h4>
  </div>
</div>
<hr>

<form #condominioLista="ngForm" >

  <div class="for-row">
    <div class="col-md-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-hover table-striped" id="tableCondominio">
        <thead>
          <tr>
            <th>CNPJ</th>
            <th>CONDOMINIO</th>
            <th>DATA CADASTRO</th>
            <th>CONTATO</th>
            <th>AÇÃO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let condominio of condominios">
            <td>{{ condominio.cnpj }}</td>
            <td>{{ condominio.descricao }}</td>
            <td>{{ condominio.dataCadastro }}</td>
            <td>{{ condominio.contato }}</td>
            <td>
              <button class="btn btn-primary"
                    routerLink="/condominios/cnpj/{{ condominio.cnpj }}">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger ml-2" (click)="preparaDelecao(condominio)"
                      data-toggle="modal" data-target="#modalDelecao">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--Modal para deleção-->
  <div id="modalDelecao" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="fonte">CONDSYSTEM - Exclusão de Registro</h4>
        </div>
        <div class="modal-body" *ngIf="condominioSelecionado">
          Confirma a exclusão do Condominio: "{{condominioSelecionado.descricao}}"?
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="deletarCondominio()"
              data-dismiss="modal" data-toggle="modal"
              data-target="#modalMensagem">Confirmar</button>
          <button class="btn btn-dark" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!--Modal de Mensagens-->
  <div id="modalMensagem" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="fonte">CONDSYSTEM - Mensagem</h4>
        </div>
        <div class="modal-body">
          {{mensagemSucesso}}
        </div>
        <div class="modal-footer">
          <button class="btn btn-dark" data-dismiss="modal" routerLink="/condominios">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</form>
