.stylefonte {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 22px;
}

.stylefontepainel {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}