<div >
  <h2 class="mt-4 fontestyle">DASHBOARD FINANCEIRO</h2>
    <hr>
  <div class="container mt-2">
    
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <div class="card shadow" style="border-radius: 10px">
          <div class="panel">
            <div class="tamanho" style="padding-left: 100px">
              <canvas id="condominio">{{ dbdata_x }}</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow" style="border-radius: 10px">
        <div class="card-body">
          <h5 class="card-title">SALDO ANTERIOR</h5>
          <h5 class="card-title">R$ 1.500,00</h5>
          <i class="fas fa-piggy-bank fa-2x" style="position: absolute; top: 10px; right: 10px; color: rgb(3, 82, 252);"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow " style="border-radius: 10px">
        <div class="card-body ">
          <h5 class="card-title">ENTRADAS </h5>
          <h5 class="card-title">R$ 3.000,00</h5>
          <i class="fas fa-arrow-alt-circle-down fa-2x" style="position: absolute; top: 10px; right: 10px; color: green;"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow" style="border-radius: 10px">
        <div class="card-body">
          <h5 class="card-title">SAÍDAS </h5>
          <h5 class="card-title">R$ 1.000,00</h5>
          <i class="fas fa-arrow-alt-circle-up fa-2x" style="position: absolute; top: 10px; right: 10px; color: red;"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow" style="border-radius: 10px">
        <div class="card-body">
          <h5 class="card-title">SALDO ATUAL</h5>
          <h5 class="card-title">R$ 1.000,00</h5>
          <i class="fas fa-solid fa-layer-group fa-2x" style="position: absolute; top: 10px; right: 10px; color: rgb(255, 187, 0);"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
