.tamanho{
  width: 90%;
  height: 90%;
  padding-top: 1%;
}

.fontestyle{
  padding-left: 49px;
  font-size: 25px;
  font-weight: bold;
}

h5{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
}
