<div >
  <h2 class="mt-4">Home</h2>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem Vindo ao Sistema</li>
  </ol>
  <div class="container mt-2">
    <div class="row">
      <div class="col-3">
        <div class="card shadow" style="border-radius: 10px; height: 95%">
          <div class="card-body" style="text-align: center; margin-top: 2px">
            <h5 class="card-title">SALDO ANTERIOR</h5>
            <h5
              class="card-title"
              style="
                background-color: rgb(104, 103, 103);
                border-radius: 5px;
                height: 30px;
                color: white;
              "
            >
              R$ 500,00
            </h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card shadow" style="border-radius: 10px; height: 95%">
          <div class="card-body" style="text-align: center; margin-top: 2px">
            <h5 class="card-title">TOTAL DE ENTRADAS</h5>
            <h5
              class="card-title"
              style="
                background-color: rgb(104, 103, 103);
                border-radius: 5px;
                height: 30px;
                color: white;
              "
            >
              R$ 1.500,00
            </h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card shadow" style="border-radius: 10px; height: 95%">
          <div class="card-body" style="text-align: center; margin-top: 2px">
            <h5 class="card-title">TOTAL DE SAÍDAS</h5>
            <h5
              class="card-title"
              style="
                background-color: rgb(104, 103, 103);
                border-radius: 5px;
                height: 30px;
                color: white;
              "
            >
              R$ 800,00
            </h5>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card shadow" style="border-radius: 10px; height: 95%">
          <div class="card-body" style="text-align: center; margin-top: 2px">
            <h5 class="card-title">SALDO ATUAL</h5>
            <h5
              class="card-title"
              style="
                background-color: rgb(104, 103, 103);
                border-radius: 5px;
                height: 30px;
                color: white;
              "
            >
              R$ 1.200,00
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <div class="card shadow" style="border-radius: 10px">
          <div class="panel">
            <div class="tamanho" style="padding-left: 100px">
              <canvas id="condominio">{{ dbdata_x }}</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow" style="border-radius: 10px">
        <div class="card-body">
          <h5 class="card-title">Saldo Anterior</h5>
          <i class="fas fa-piggy-bank fa-2x" style="position: absolute; top: 10px; right: 10px;"></i>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow" style="border-radius: 10px">
        <div class="card-body">
          <h5 class="card-title">Entrada</h5>
          <i class="fas fa-arrow-alt-circle-down fa-2x" style="position: absolute; top: 10px; right: 10px; color: green;"></i>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow" style="border-radius: 10px">
        <div class="card-body">
          <h5 class="card-title">Saída</h5>
          <i class="fas fa-arrow-alt-circle-up fa-2x" style="position: absolute; top: 10px; right: 10px; color: red;"></i>
        </div>
      </div>
    </div>
  </div>
</div>
